@model Film
@{
    IEnumerable<Category> categories = ViewData["Categories"] as IEnumerable<Category>;
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Create Movie</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" />
        </div>
        <div class="dropdown mb-3">
          <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <label asp-for="CategoryId"></label>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach(var category in categories)
                {
                    <a class="dropdown-item" onclick=@{TempData["SelectedCat"] = category.Id;}>@category.Id</a>
                }
          </div>
        </div>
        <div class="pb-2">
            <input type="submit" asp-controller="Movie" asp-action="Create" />
        </div>
    </div>
</form>

