
@model EditMovieViewModel
@{
    IEnumerable<Category> categories = ViewData["Categories"] as IEnumerable<Category>;
}

<form method="post" asp-controller="Movie" asp-action="EditPost">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>Edit Movie @Model.Name</h2>
            <hr />
        </div>
        <div class="mb-3">
            <input hidden asp-for="Id" />
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <select id="dropdown" class="mb-3" onclick="getOption()">
                <option disabled selected value=""> -- select a new category -- </option>
                    @foreach(var category in categories)
                    {
                        <option class="dropdown-item" value=@category.Id>@category.Name</option>
                    }
            </select>
            <input hidden asp-for="CategoryId" id="cat"/>
        </div>
        <div class="pb-2">
            <input type="submit"/>
        </div>
    </div>
</form>

<script type="text/javascript">
    function getOption() {
        selectElement = document.querySelector('#dropdown');
        output = selectElement.value;
        document.getElementById("cat").value = output;
        console.log(document.getElementById("cat").value)
    }
</script>
