@model IEnumerable<Category>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="container p-2">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="display-4">Welcome to Categories</h2>
            </div>
            <div class="col-6 text-end align-self-end ml-auto">
                <a class="btn btn-primary " asp-controller="Category" asp-action="Create">
                    <i class="bi bi-plus"></i>  Create new Category
                </a>
            </div>
        </div>
    </div>

    <div style="width: 80%">
        @foreach(var category in Model)
        {
            <div class="card mt-3 mb-3">
                <div class="card-body">
                    <div class="container p-2">
                        <div class="row">
                            <div class="col-6 d-inline-flex flex-row align-items-center">
                                <h4>@category.Name</h4>
                            </div>
                            <div class="col-6 d-inline-flex flex-row-reverse">
                                <div class="btn-group">
                                    <a class="btn btn-info" asp-controller="Category" asp-action="Single" asp-route-id="@category.Id">
                                        <i class="bi bi-info-circle"></i>
                                    </a>
                                    <a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
                                        <i class="bi bi-x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
