@model IEnumerable<Film>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Movie Blog!</h1>
    <br />

    <h2>Recently added movies</h2>
    <div style="display: flex; flex-direction: row;">
        @foreach(var movie in Model)
        {
            <div class="card" style="width: 18rem; margin-right: 1em">
              <img class="card-img-top" src="~/images/@movie.FilmImage" alt="Card image cap" style="width:286; height: 180;">
                <div class="card-body">
                    <h5 class="card-title">@movie.Name</h5>
                    <p class="card-text">@movie.Description</p>
                    <a class="btn btn-info" asp-controller="Movie" asp-action="Single" asp-route-id="@movie.Id">See movie page</a>
                </div>
            </div>
        }
    </div>
    
</div>
